body {
    background-color: silver;
}

div {
    margin: auto;
    width: 500px;

}

form {
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    width: 450;
    margin: 10px;
    padding: 10px;

    text-align: center;
}

input {
    vertical-align: bottom;
    width: 100px;
    margin-top: 3px;
}

.selected {
    vertical-align: bottom;
    width: 100px;
    margin-top: 3px;
    border: 3px solid red;
}


.loading {
    vertical-align: bottom;
    width: 100px;
    margin-top: 3px;
    /* background-color: peru; */
    /* background-color: black;
    color: black; */
    /* opacity: 0.15; */
    background-image: url(https://media.giphy.com/media/sSgvbe1m3n93G/giphy.gif);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    color: rgba(255, 0, 0, 0);

}

.not-visible {
    opacity: 0;
}